<%= simple_form_for(@student, html: { class: 'form-horizontal' }) do |f| %>
<div class = "row">
  <div class="6-large columns">
     <fieldset>
      <legend><%= controller.action_name.capitalize %> Student </legend>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <% if controller.action_name=="edit" || controller.action_name=="new" %>
        <%= f.collection_select :family_id, Family.alphabetical.active.all, :id, :family_name, :prompt => "Select family..." %>
        <% end %>
        <%= f.input :rating %>
        <%= f.input :date_of_birth, as: :date, order: [:month, :day, :year], include_blank: true, start_year: Date.today.year - 18, end_year: Date.today.year - 5  %>
        <%= f.input :active %>
     </fieldset>
  </div>
</div>


<div class="form-actions">
  <%= f.submit nil, class: 'button small radius' %>
  <%= link_to 'Back to list of students', students_path, :class => 'button small secondary radius' %>
</div>

<% end %>