<h3><%= status %> Students</h3>

<table class="table">
  <tr>
    <th width="160">Name</th>
    <th width="120">Age</th>
    <th width="120">Rating</th>
    <th></th>
  </tr>

<% @active_students.each do |student| %>
  <tr>
    <td><%= link_to student.name, student_path(student) %></td>
    <td align="center"><%= student.age %></td>
    <% if student.rating == 0 %>
      <td align="center">Unrated</td>
    <% else %>
      <td align="center"><%= student.rating %></td>
    <% end %>
    <% if can? :update, student %>
      <td><%= link_to 'Edit', edit_student_path(student), class: "button tiny radius" %></td>
    <% end %>
  </tr>
<% end %>
</table>
<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate students, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>