<h4> Registrations for <%=@camp.name %> (<%= @camp.start_date.strftime('%m/%d/%y') %>)</h4>
<table class="table">
  <tr>
    <th width="180">Student</th>
    <th width="100">Payment Status</th>
    <th></th>
  </tr>

<% @registrations.each do |registration| %>
  <tr>
    <td><%= link_to registration.student.proper_name, student_path(registration.student) %> </td>
    <td> <%= registration.payment_status.capitalize %></td>
    <td> <%= link_to "Edit registration", edit_registration_path(registration), class: "button tiny radius" %>&nbsp; </td>
    <td> <%= link_to 'Delete registration', registration_path(registration), data: { confirm: 'Are you sure you want to permanently remove this registration from the system?' }, method: :delete, class: "button tiny radius alert" %> </td>
  </tr>
<% end %>
</table>

<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate @registrations, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>
<br>
<% if can? :create, Registration %>
  <%= link_to "Register student for this camp", new_registration_path(camp_id: @camp.id), class: "button tiny radius" %>&nbsp;
<% end %>