<div class="row">
  <div class="small-4 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "camp_details" %>
  </div>

  <div class="small-4 columns">
    <%= render partial: 'additional_info' %>
  </div>

  <div class="small-3 columns">
    <!-- SIDEBAR CONTENT GOES HERE -->
    <%= render partial: 'camp_instructors' %>
    <% if (current_user != nil) %>
      <% if (current_user.role == "admin") %>
        <%= render partial: 'camp_registrations' %>
      <% elsif @instructors.include?(current_user.instructor) %>
        <%= render partial: 'camp_registrations' %>
      <% end %>
    <% end %>
  </div>
</div>