<h3><%= status %> Families</h3>

<table class="table">
  <tr>
    <th width="260">Family Name</th>
    <th width="120">Parent First Name</th>
    <th width="120">Number of Students</th>
    <th></th>
  </tr>

<% @active_families.each do |family| %>
  <tr>
    <td><%= link_to family.name, family_path(family) %></td>
    <td align="center"><%= family.parent_first_name %></td>
    <td align="center"><%= family.students.size %></td>
    <td><%= link_to 'Edit', edit_family_path(family), class: "button tiny radius" %></td>
  </tr>
<% end %>
</table>
<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate families, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>