<h3>All Instructors</h3>
<table class= "table">
	<tr>
		<th width= "150"> Name </th>
		<th width="180">Phone</th>
		<th width="80">Email</th>
		<th width="80">Camps</th>
		<th></th>
	<tr>
<% @instructors.each do |instructor| %>
	<tr>
		<td><%= link_to instructor.name, instructor_path(instructor) %></td>
		 <td align="center"><%= number_to_phone instructor.phone %></td>
		 <td align="center"><%= mail_to instructor.email, instructor.email, encode: "javascript" %></td>
       	 <td align="center"><%= instructor.camps.size %></td>
      	 <% if instructor.active == true %>
         	<td><span class="label round success">Active</span></td>
      	 <% else %>
         	<td><span class="label round secondary">Inactive</span></td>
       	 <% end %>
	    <% if can? :update, instructor %>
	      <td><%= link_to 'Edit', edit_instructor_path(instructor), class: "button tiny radius" %></td>
	    <% end %>
    </tr>
<% end %>
</table>

<span class="paginate">
	<%= will_paginate @instructors, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>