<%= simple_nested_form_for(@instructor, html: { class: 'form-horizontal'}) do |instructor_form| %>
  <fieldset>
     <legend><%= controller.action_name.capitalize %> Instructor</legend>
      <%= render :partial => "instructor_fields", :locals => { :f => instructor_form } %>

   <fieldset id="user_form">
     <legend><%= controller.action_name.capitalize %> User</legend>
      
        <%= instructor_form.simple_fields_for :user do |user_form| %>
          <%= render :partial => "user_fields", :locals => { :f => user_form } %>
        <% end %> 
    </fieldset>

    <div class="form-actions">
      <%= instructor_form.submit nil, class: 'button small radius' %>
      <%= link_to 'Back to list of instructors', instructors_path, :class => 'button small secondary radius' %>
    </div>
  </fieldset>
<% end %>
