<h3>Instructor Details</h3><br />
<strong>Name:&nbsp;&nbsp;</strong> 
  <%= @instructor.proper_name %><br /><br />

<strong>Phone:&nbsp;&nbsp;</strong> 
  <%= number_to_phone(@instructor.phone) %><br /><br />

<strong>Email:&nbsp;&nbsp;</strong> 
  <%= mail_to @instructor.email, @instructor.email, encode: "javascript" %><br /><br />

<strong>Active?&nbsp;&nbsp;</strong>
  <%= @instructor.active ? "Yes" : "No" %><br /><br />

<strong>Biography</strong><br />
  <%= @instructor.bio.nil? ? "N/A" : @instructor.bio %><br /><br />

<% if (current_user != nil) && (@instructor.user != nil) && (current_user.role == "admin") %>
  <strong>Role:&nbsp;&nbsp;</strong>
  	<%= @instructor.user.role.capitalize %><br /><br />
  <strong>Username:&nbsp;&nbsp;</strong>
  	<%= @instructor.user.username %><br /><br />
<% end %>

<% if can? :update, @instructor %>
	<%= link_to "Edit profile", edit_instructor_path(@instructor), class: "button tiny radius" %>&nbsp;&nbsp;
<% end %>
<% if can? :index, Instructor %>
	<%= link_to "Back to list instructors", instructors_path, class: "button secondary tiny radius" %>&nbsp;&nbsp;
<% end %>
<% if can? :destroy, @instructor %>
	<%= link_to 'Destroy instructor', instructor_path(@instructor), data: { confirm: 'Are you sure you want to permanently remove this instructor from the system?' }, method: :delete, class: "button tiny radius alert" %>
<% end %>