<div id="footer">
	<!-- footer information, with links to home, about us, contact us and privacy policy pages -->
	<%= link_to 'Home', home_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
  	<%= link_to 'About Us', about_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
	<%= link_to 'Contact Us', contact_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
	<%= link_to 'Privacy Policy', privacy_path %>
	<br /><br />
	<div id="copyright">
	  <br />
	  	Webmaster: <%= mail_to "slanand@andrew.cmu.edu", "Swathi Anand", :encode => "javascript" %>
	  <br>
	  <br>
	  Copyright 2014
	  <br /><br />
	</div>
</div>	