  <div class="contain-to-grid">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <%= link_to image_tag('newLogo.png'), home_path %>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="left">

          <% if current_user == nil %>
            <li class="has-dropdown">
              <%= link_to "Home", home_path %>
              <ul class="dropdown">
                  <li><%= link_to "About Us", about_path %></li>
                  <li><%= link_to "Contact Us", contact_path %></li>
                  <li><%= link_to "Privacy Policy", privacy_path %></li>
              </ul>
            </li>
          <% end %>

          <!-- options for curriculums -->
          <li class="has-dropdown">
            <%= link_to "Curriculums", curriculums_path %>
            <ul class="dropdown">
                <li><%= link_to "List Curriculums", curriculums_path %></li>
              <% if can? :create, Curriculum %>
                <li><%= link_to "Add a Curriculum", new_curriculum_path %></li>
              <% end %>
            </ul>
          </li>

          <!-- options for camps -->
          <li class="has-dropdown">
            <%= link_to "Camps", camps_path %>
            <ul class="dropdown">
                <li><%= link_to "List Camps", camps_path %></li>
              <% if can? :create, Camp %>
                <li><%= link_to "Add a Camp", new_camp_path %></li>
              <% end %>
            </ul>
          </li>

          <!-- options for instructors -->
          <li class="has-dropdown">
            <!-- <a href="#">Instructors</a> -->
            <%= link_to "Instructors", instructors_path %>
            <ul class="dropdown">
                <li><%= link_to "List Instructors", instructors_path %></li>
                <% if can? :create, Instructor %>
                  <li><%= link_to "Add an Instructor", new_instructor_path %></li>
                <% end %>
            </ul>
          </li>

          <% if (can? :create, Family) || (can? :index, Family) %>
            <li class="has-dropdown">
              <!-- <a href="#">Families</a> -->
              <%= link_to "Families", families_path %>
              <ul class="dropdown">
                  <li><%= link_to "List Families", families_path %></li>
                <% if can? :create, Family %>
                  <li><%= link_to "Add a Family", new_family_path %></li>
                <% end %>
              </ul>
            </li>
          <% end %>

          <% if (can? :create, Student) || (can? :index, Student) %>
            <li class="has-dropdown">
              <!-- <a href="#">Students</a> -->
              <%= link_to "Students", students_path %>
              <ul class="dropdown">
                  <li><%= link_to "List Students", students_path %></li>
                <% if can? :create, Student %>
                  <li><%= link_to "Add a Student", new_student_path %></li>
                <% end %>
              </ul>
            </li>
          <% end %>

          <li class="has-dropdown">
            <!-- <a href="#">Locations</a> -->
            <%= link_to "Locations", locations_path %>
            <ul class="dropdown">
                <li><%= link_to "List Locations", locations_path %></li>
              <% if can? :create, Student %>
                <li><%= link_to "Add a Location", new_location_path %></li>
              <% end %>
            </ul>
          </li>

          <li class = "has-dropdown">
            <% if logged_in? %>
                <%= link_to "Welcome, #{current_user.instructor.first_name} (#{current_user.role})", instructor_path(current_user.instructor) %>
                <ul class= "dropdown">
                  <% if can? :update, current_user.instructor %>
                    <li><%= link_to 'Edit Profile', edit_instructor_path(current_user.instructor)%></li> 
                  <% end %>
                  <li> <%= link_to 'Logout', logout_path %> </li>
              <% else %>
                <li> <%= link_to 'Login', login_path %> </li>
            <% end %>
          </li>
        </ul>
      </section>
    </nav>
  </div>