<%= simple_form_for(@registration, html: { class: 'form-horizontal' }) do |f| %>
   
  <fieldset>
    <legend> <%= controller.action_name.capitalize %> Registration </legend>
    
    <%= f.hidden_field :camp_id %>
    <%= f.input :student_id, collection: @students, prompt: "Select student..." %>
    <%= f.input :payment_status, collection: [['Deposit only', 'deposit'],['Paid', 'full']], prompt: "Select payment_status..." %>
    <%= f.input :points_earned %>

    <div class="form-actions">
      <%= f.submit nil, class: 'button small radius' %>
      <%= link_to_function "Back", "history.back()", :class => 'button small secondary radius' %>
    </div>
  </fieldset>
<% end %>