<div id="searchBar" class= "has-form">
	<form method="get", action= "/home/search">
		<div id= "textbox">
			<input id= "query" name= "query" size= "40" type= "text" placeholder= "Search instructors or students...">
		</div> 
		&nbsp;&nbsp;&nbsp;&nbsp;
		<div id= "searchbutton">
			<input class= "tiny button radius alert" id= "query" type= "submit" value= "Search">
		</div>
	</form>
</div>
<br><br><br>
<div id="intro">
	<h3>Welcome back, <%= current_user.instructor.proper_name %>!</h3> 
	<p>Below is your current profile and information on upcoming camp registrations &amp; instructor assignments:</p>  <br>
</div>

<div id= "row">
	<div id= "adminBio" class= "small-4 columns">
		<div class="panel clearfix">
			<h5><strong>Camp statistics</strong></h5>
			<p>
				<strong><%= @upcoming_camps.size %></strong> upcoming camps <br>
				<strong><%= Instructor.active.size %></strong> active instructors <br>
				<strong><%= Family.active.size %></strong> active families <br>
				<strong><%= Student.active.size %></strong> active students <br>
				<strong><%= @upcoming_registrations / @upcoming_camps.size%></strong> average registrations per camp <br>
		</div>
		<% unless current_user.instructor.picture_url.nil? %>
		    <%= image_tag current_user.instructor.picture_url %><br /><br />
		<% end %>

		<strong>Name:&nbsp;&nbsp;</strong> 
		  <%= current_user.instructor.proper_name %><br /><br />

		<strong>Phone:&nbsp;&nbsp;</strong> 
		  <%= number_to_phone(current_user.instructor.phone) %><br /><br />

		<strong>Email:&nbsp;&nbsp;</strong> 
		  <%= mail_to current_user.instructor.email, current_user.instructor.email, encode: "javascript" %><br /><br />

		<strong>Biography</strong><br />
		  <%= current_user.instructor.bio.nil? ? "N/A" : current_user.instructor.bio %><br /><br />

		<strong>Active?&nbsp;&nbsp;</strong>
		  <%= current_user.instructor.active ? "Yes" : "No" %><br /><br />

		<% if (current_user != nil) %>
		  <strong>Role:&nbsp;&nbsp;</strong>
		  	<%= current_user.role.capitalize %><br /><br />
		  <strong>Username:&nbsp;&nbsp;</strong>
		  	<%= current_user.username %><br /><br />
		<% end %>

		<%= link_to "Edit profile", edit_instructor_path(current_user.instructor), class: "button tiny radius" %>&nbsp;&nbsp;
	</div>
	<div id="adminCamps" class= "small-8 columns">

		<h4> Upcoming Chess Camps <span class="add_link"><%= link_to "[add new camp]", new_camp_path %></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "PAST CAMPS PAYMENT REPORTS", past_camp_payments_path, class: "button tiny radius" %></h4>
		<% if @upcoming_camps.size == 0 %>
			<h5><em> No upcoming camps to show. </em></h5>
		<% else %>
			<table class="table">
				<tr>
					<th width="160" align="left">Camp Name</th>
		            <th width="160" align="left">Assigned Instructors</th>
		            <th width="100" align="center"># Students <br> Registered</th>
		            <th></th>
				<% @upcoming_camps.each do |camp| %>
				  <tr>
				    <td width="420"><strong><%= link_to camp.name, camp_path(camp) %> (<%= camp.start_date.strftime('%m/%d/%y') %>)</strong> <br>
				    	<span class="smtext"><%= truncate(camp.curriculum.description, length: 75, omission: ' ') %><%= link_to "...(more)", curriculum_path(camp.curriculum) %></span>
				    </td>
				    <% if camp.instructors.size != 0 %>
				    	<td width="230">
				    	<% camp.instructors.alphabetical.each do |instructor| %>
						  	<%= link_to instructor.proper_name, instructor_path(instructor) %> <br>
						<% end %>
						</td>
					<% end %>
					<% if camp.registrations.size != 0 %>
						<td align= "center"> <%= camp.registrations.size %> </td>
					<% else %> 
						<td align= "center"> NO STUDENTS REGISTERED! </td>
					<% end %>
					<% if camp.registrations.size != 0 %>
					    <td width="200"> <%= link_to "View payment report of registered students", dashboard_payment_report_path(:id => camp.id), class: "button tiny radius" %>
					    </td>
					<% else %> 
						<td width="200"> <%= link_to "Register student on camp page", camp_path(camp), class: "button tiny radius" %>
						</td>
					<% end %>
				  </tr>
				<% end %>
			</table>
		<% end %>

		<!-- Add the pagination using will_paginate gem -->
		<span class="paginate">
			<%= will_paginate @upcoming_camps, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
		</span>
	</div>

</div>