<h3>Welcome back, <%= current_user.instructor.proper_name %>!</h3> 
<p>Below is your current profile and information on upcoming camp registrations &amp; instructor assignments:</p>  <br>

<div id= "row">
	<div id= "adminBio" class= "small-4 columns">
		<% unless current_user.instructor.picture_url.nil? %>
		    <%= image_tag current_user.instructor.picture_url %><br /><br />
		<% end %>

		<strong>Name:&nbsp;&nbsp;</strong> 
		  <%= current_user.instructor.proper_name %><br /><br />

		<strong>Phone:&nbsp;&nbsp;</strong> 
		  <%= number_to_phone(current_user.instructor.phone) %><br /><br />

		<strong>Email:&nbsp;&nbsp;</strong> 
		  <%= mail_to current_user.instructor.email, current_user.instructor.email, encode: "javascript" %><br /><br />

		<strong>Biography</strong><br />
		  <%= current_user.instructor.bio.nil? ? "N/A" : current_user.instructor.bio %><br /><br />

		<strong>Active?&nbsp;&nbsp;</strong>
		  <%= current_user.instructor.active ? "Yes" : "No" %><br /><br />

		<% if (current_user != nil) %>
		  <strong>Role:&nbsp;&nbsp;</strong>
		  	<%= current_user.role.capitalize %><br /><br />
		  <strong>Username:&nbsp;&nbsp;</strong>
		  	<%= current_user.username %><br /><br />
		<% end %>

		<%= link_to "Edit profile", edit_instructor_path(current_user.instructor), class: "button tiny radius" %>&nbsp;&nbsp;
	</div>
	<div id="adminCamps" class= "small-8 columns">

		<h4> Upcoming Chess Camps <span class="add_link"><%= link_to "[add new camp]", new_camp_path %></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "PAST CAMPS PAYMENT REPORTS", past_camp_payments_path, class: "button tiny radius" %></h4>
		<% if @upcoming_camps.size == 0 %>
			<h5><em> No upcoming camps to show. </em></h5>
		<% else %>
			<table class="table">
				<tr>
					<th width="160" align="left">Camp Name</th>
		            <th width="160" align="left">Assigned Instructors</th>
		            <th></th>
				<% @upcoming_camps.each do |camp| %>
				  <tr>
				    <td width="420"><strong><%= link_to camp.name, camp_path(camp) %> (<%= camp.start_date.strftime('%m/%d/%y') %>)</strong> <br>
				    	<span class="smtext"><%= truncate(camp.curriculum.description, length: 100, omission: ' ') %><%= link_to "...(more)", curriculum_path(camp.curriculum) %></span>
				    </td>
				    <% if camp.instructors.size != 0 %>
				    	<td width="230">
				    	<% camp.instructors.alphabetical.each do |instructor| %>
						  	<%= link_to instructor.proper_name, instructor_path(instructor) %> <br>
						<% end %>
						</td>
					<% end %>
				    <td width="200"> <%= link_to "Get payment report of registered students", dashboard_payment_report_path(:id => camp.id), class: "button tiny radius" %>
				    </td>
				  </tr>
				<% end %>
			</table>
		<% end %>

		<!-- Add the pagination using will_paginate gem -->
		<span class="paginate">
			<%= will_paginate @upcoming_camps, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
		</span>
	</div>

</div>