<div class= "row">
	<div id="adminCamps" class= "small-8 columns">
		<h4> Payments for Past Chess Camps </h4>
		<% if @past_camps.size == 0 %>
			<h5><em> No past camps to show. </em></h5>
		<% else %>
			<table class="table">
				<tr>
					<th width="160" align="left">Camp Name</th>
		            <th width="160" align="left">Assigned Instructors</th>
		            <th></th>
				<% @past_camps.each do |camp| %>
				  <tr>
				    <td width="420"><strong><%= link_to camp.name, camp_path(camp) %> (<%= camp.start_date.strftime('%m/%d/%y') %>)</strong> <br>
				    	<span class="smtext"><%= truncate(camp.curriculum.description, length: 100, omission: ' ') %><%= link_to "...(more)", curriculum_path(camp.curriculum) %></span>
				    </td>
				    <% if camp.instructors.size != 0 %>
				    	<td width="230">
				    	<% camp.instructors.alphabetical.each do |instructor| %>
						  	<%= link_to instructor.proper_name, instructor_path(instructor) %> <br>
						<% end %>
						</td>
					<% end %>
				    <td width="200"> <%= link_to "Get payment report of registered students", dashboard_payment_report_path(:id => camp.id), class: "button tiny radius" %>
				    </td>
				  </tr>
				<% end %>
			</table>
		<% end %>

		<!-- Add the pagination using will_paginate gem -->
		<span class="paginate">
			<%= will_paginate @past_camps, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
		</span>
	</div>
</div>