<h3>Search result for term <em>'<%= @query %>'</em> resulted in <%= pluralize(@total_hits, 'hit') %></h3>
<p class="supertiny">&nbsp;</p>

<% unless @instructors.empty? %>
	<p><em><strong>Instructors matching term '<%= @query %>'</strong></em></p>
	<ul>
		<% for instructor in @instructors do %>
			<li><%= link_to instructor.name, instructor_path(instructor) %></li>
		<% end %>
	</ul>
	<p class="smtext">&nbsp;</p>
<% end %>

<% unless @students.empty? %>
	<p><em><strong>Students matching term '<%= @query %>'</strong></em></p>
	<ul>
		<% for student in @students do %>
			<li><%= link_to student.name, student_path(student) %></li>
		<% end %>
	</ul>
	<p class="supertiny">&nbsp;</p>
<% end %>
<br><br>
<%= link_to 'Back to homepage', home_path, class: "button small radius" %>