<%= simple_form_for(@location, html: { class: 'form-horizontal' }) do |f| %>
<div class = "row">
  <div class="small-6 columns">
     <fieldset>
      <legend><%= controller.action_name.capitalize %> Location </legend>
        <%= f.input :name %>
        <%= f.input :street_1 %>
        <%= f.input :street_2 %>
        <%= f.input :city %>
        <%= f.input :state, :collection => Location::STATES_LIST, :prompt => "Select a state..." %>
        <%= f.input :zip %>
        <%= f.input :max_capacity %>
        <%= f.input :active %>

        <div class="form-actions">
          <%= f.submit nil, class: 'button small radius' %>
          <%= link_to 'Back to list of locations', locations_path, :class => 'button small secondary radius' %>
        </div>
        
     </fieldset>
  </div>
</div>

<% end %>